body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
}

.chat-container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 20px;
    color: white;
    max-width: 1000px;
    width: 100%;


}

.chat-history {
    height: calc(100vh - 100px - 40px);
    overflow-y: scroll;
    color:black;
    margin-bottom: 10px;
    
}

.user-input {
    width: 100%;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    color: black; /* Make the text black */
    outline: none; /* Remove the outline */
    box-shadow: none; /* Remove the box shadow */
    border: none; /* Remove the border */
}

.send-button {
    width: 10%;
    padding: 10px;
    border-radius: 10px; /* Make the button round */
    background-color: #4CAF50; /* Change the background color */
    color: white; /* Change the text color */
    border: none; /* Remove the border */
    cursor: pointer; /* Change the cursor when hovering over the button */
    transition: background-color 0.3s ease; /* Add a transition effect when the button is hovered over */
    font-size: 50px;
    
}

.send-button:hover {
    background-color: #45a049; /* Change the background color when the button is hovered over */
}
.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #e9cc95;
    font-size: 20px;
}

.message strong {
    font-weight: bold;
}

.user-message {
    background-color: #e9cc95; /* Light green */
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.model-message {
    background-color: #4daacf; /* Light gray */
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#user-input {
    width: 87%;  /* or any other percentage or fixed width */
    margin-top: 10px;
    border-radius: 10px; /* Make the button round */
    font-size: 20px;

}

#chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user-input:focus {
    outline: none;
    box-shadow: none;
    border: none; /* Remove the border */
}
#input-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background-color: #f8f8f8;
    width: 98%;
    margin-top: 10px;
}